/*
 * Import font from google
 */

/*Font -> JetBrain Mono*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-color: #0b0c10;
    --text-color: #cdd6f4;
    --font-mono: 'JetBrains Mono', monospace;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-mono);
    color: var(--text-color);

    background-image: url('./assets/57.png');
    background-size: cover;
    /* Stretch the image to cover the entire screen */
    background-position: center;
    /* Keep the image centered */
    background-repeat: no-repeat;
    /* Prevent repeating/tiling */
    background-attachment: fixed;
    /* Keep the background static while scrolling */

    /* Center the terminal frame vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Force the React wrapper to fill the screen and center your terminal */
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
